<!-- Custom styles for this template -->
<link href="styles/navbar.css" rel="stylesheet">
<link href="styles/footer.css" rel="stylesheet">

<div class="container">

  <!-- Static navbar -->
  <!--<div class="navbar navbar-inverse navbar-fixed-top bs-docs-nav">-->
  <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand pull-right" href="#">
        <img src="http://sharesdk.cn/Public/Frontend/images/logo.png?version=83209024"/>
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Features</a></li>
        <li><a href="#">Documentation</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Support</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="/#signup" class="header_signup show_signup">
                <button type="button" class="btn btn-default">Log In</button>
            </a>
        </li>
        <li>
            <a href="/#signup" class="header_signup show_signup">
                <button type="button" class="btn btn-primary">Sign Up</button>
            </a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img width="23" height="17" alt="United States" src="images/flags/us.png">
            <strong>United States</strong>
           <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
                <a href="http://sharesdk.cn">
                <img width="23" height="17" alt="China" src="images/flags/china.png">
                <strong>China</strong>
                </a>
            </li>
          </ul>
          <p class="text-center">Questions? (206)123-4567</p>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </nav>

  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h2 class="text-center" id="headline">Mobile in-app sharing, the right way.</h2>
    <p class="text-center" id="subheadline">Tools you need. Data you want. Technology you love.
    </p>
    <p class="text-center">
        <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">Sign up for free</a>
    </p>
  </div>

  <div class="row">
      <h2>
          <img src="http://sharesdk.cn/Public/Frontend/images/sharesdk-intro-2.png">
          Real-time Dashboard
      </h2>
      <div class="col-xs-12 col-sm-6 col-md-8">
          <img src="http://sharesdk.cn/Public/Frontend/images/intro-2-4.png" alt="dashboard" width="80%" height="60%">
      </div>
      <div class="col-xs-6 col-sm-10 col-md-4">
        <div class="main_text">
            <h1>Data you want</h1>
            <p>
                Our powerful dashboard gives you powerful analytical abilities. You get insights and metrics from user demographic information such as
                user gender, age, location, device information, used social platform(s), to shared contents, re-share numbers and rate.
            </p>
            <span>
                <a class="btn btn-primary" href="#" role="button">View details &raquo;</a>
            </span>
        </div>
      </div>
  </div>
  <br/>

  <div class="row">
      <span>
          <h2>
              <img src="http://sharesdk.cn/Public/Frontend/images/sharesdk-intro-3.png">
              Easy integration
          <small><a href="#">Download SDKs</a></small>
          </h2>
      </span>
      <div class="col-xs-6 col-sm-10 col-md-4">
          <div class="main_text">
              <h1>Tools you need</h1>
              <p>
                 No matter you are on IOS or Andriod, or both, we have native SDKs for IOS and Andriod.
                 In few lines of code, you can integrate with our SDK and start to allow your users to share
                 any content to over <a href="#">40+ social platforms</a>.
              </p>
              <span>
                  <a class="btn btn-primary" href="#" role="button">View details &raquo;</a>
              </span>
          </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-8">
          <img src="http://sharesdk.cn/Public/Frontend/images/sharesdk-intro-3-1.jpg" alt="dashboard" width="100%" height="50%">
      </div>
  </div>

  <div class="footer">
      <ul class="list-unstyled list-inline">
        <li>&copy; ShareSDK 2013</li>
        <li><a href="#">About</a></li>
        <li><a href="#">Job</a></li>
        <li><a href="#">Terms</a></li>
        <li><a href="#">Privacy</a></li>
      </ul>
  </div>

</div> <!-- /container -->
